
.data {
  display: flex;
  flex-direction: column;
 

  padding: 20px;
  margin-top: 80px;
  font-family: 'Times New Roman', Times, serif;
}
.button-div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:flex-start;
    padding-left: 40px;
    box-sizing: border-box;
 
    width: 100%;
    height: 50px;
}
.submitbtn{
  background-color: #007bff;
  height: 35px;
  width: 100%;
  color: white;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
}

.data-form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  box-sizing: border-box;
  margin-top: 500px;
  margin-bottom: 80px;
}
.data-form {
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0;}
  to {top: 0; opacity: 1;}
}


.form-group {
  margin-bottom: 20px;
  width: 100%;
}


.form-group label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
}


.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-family: 'Times New Roman', Times, serif;
  transition: border-color 0.3s ease-in-out;
}


.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
}


.button-div button{
    height: 35px;
    background-color: #007bff;
    border: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
  .data-form {
   
    max-width: 100%;
  }

  .form-group input,
  .form-group select {
    font-size: 15px;
  }

  button {
    font-size: 16px;
    padding: 12px;
  }
}


@media (max-width: 480px) {
  .data-form {
  
    width: 100%;
    box-sizing: border-box;
  }

  .form-group input,
  .form-group select {
    font-size: 14px;
  }

  button {
    font-size: 15px;
    padding: 10px;
  }
  .form-overlay{
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  
}

.form-overlay{
      position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
